In [1]:
%%bash
git clone https://github.com/kptriescoding/farmer-app-datasets

Cloning into 'farmer-app-datasets'...

In [2]:
import numpy as np
import pandas as pd
from scipy import spatial

In [3]:
df=pd.read_csv("/content/farmer-app-datasets/Datasets/customer_data_ver_2.csv")
df.rename(columns={'FirstName LastName':"Names"},inplace=True)
# df.drop(columns=["index","index.1","index.2"],inplace=True)
# df=df.reset_index()
df

,Names,Wheat Freqeuncy,Wheat Quantity,Wheat Seller,Sugercane Freqeuncy,Sugercane Quantity,Sugercane Seller,Rubber Freqeuncy,Rubber Quantity,Rubber Seller,Maize Freqeuncy,Maize Quantity,Maize Seller,Barley Freqeuncy,Barley Quantity,Barley Seller,Distance
0,Hayden Ripley,1,771,Riverside Circuitry Ltd,1,4,Tilly Beverages Ltd,1,589,Peabody Workwear Ltd,4,826,Riverside Circuitry Ltd,1,181,Peabody Workwear Ltd,666
1,Lucy Lakey,2,556,Oakes Workshops Ltd,1,410,Tilly Beverages Ltd,0,0,NaN,3,760,Tilly Beverages Ltd,3,882,Riverside Circuitry Ltd,588
2,Daphne Long,5,619,Tilly Beverages Ltd,2,129,Riverside Circuitry Ltd,4,492,Tilly Beverages Ltd,1,534,Tilly Beverages Ltd,0,0,NaN,295
3,Percy Torres,4,988,Riverside Circuitry Ltd,4,237,Peabody Workwear Ltd,6,477,Oakes Workshops Ltd,0,0,NaN,2,91,Oakes Workshops Ltd,718
4,Vanessa Alldridge,5,661,Tilly Beverages Ltd,5,432,Peabody Workwear Ltd,0,0,NaN,4,161,Oakes Workshops Ltd,0,0,NaN,404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Taylor Vince,0,0,NaN,0,0,NaN,2,466,Tilly Beverages Ltd,6,275,Peabody Workwear Ltd,1,399,Peabody Workwear Ltd,766
496,Bryce Clarkson,6,368,Tilly Beverages Ltd,2,189,Tilly Beverages Ltd,2,449,Peabody Workwear Ltd,4,589,Riverside Circuitry Ltd,0,0,NaN,585
497,Gina Watson,1,534,Riverside Circuitry Ltd,6,297,Oakes Workshops Ltd,4,475,Tilly Beverages Ltd,2,506,Riverside Circuitry Ltd,0,0,NaN,986
498,Martin Poulton,2,237,Tilly Beverages Ltd,5,816,Peabody Workwear Ltd,1,962,Oakes Workshops Ltd,6,952,Peabody Workwear Ltd,4,770,Riverside Circuitry Ltd,614
499,Johnny Palmer,2,542,Tilly Beverages Ltd,5,658,Tilly Beverages Ltd,3,38,Oakes Workshops Ltd,6,352,Oakes Workshops Ltd,1,220,Peabody Workwear Ltd,774

In [4]:
def find_Cosine_Similarity(Cust):
  cust_ind=df.index[df.Names==Cust]
  ###Finding Similar Buyers
  df1=df[["Wheat Seller","Sugercane Seller","Rubber Seller","Maize Seller","Barley Seller"]]
  cust_data=df1.values[cust_ind]
  df_sim_buy=df1==cust_data
  df_sim_buy=df_sim_buy.replace(True,1).replace(False,0)
  ###Finding Similar Frequncy and Qunatity
  df2 = df[df.columns.difference(["Names","Wheat Seller","Sugercane Seller","Rubber Seller","Maize Seller","Barley Seller"])]
  Cust_data=df2.values[cust_ind]
  dummy=np.full(shape=df.shape[0],fill_value=-1.00)
  df_sim_co=pd.DataFrame(dummy,columns=["Cosine Similarity"]);
  for ind in df2.index:
    if ind==cust_ind:
      continue;
    df_sim_co["Cosine Similarity"].values[ind]=spatial.distance.cosine(Cust_data,df2.values[ind])
  df_sim=pd.concat([df_sim_co,df_sim_buy],axis=1)
  return df_sim;

In [5]:
rand_ind=np.random.randint(0,499)
rand_name=df.loc[rand_ind].Names
df_sim=find_Cosine_Similarity(rand_name)
df_sim.sort_values(by = "Cosine Similarity",inplace=True)
# df_sim
i=0
indexes=[]
print("The Person to who the recommendation is done is "+rand_name)
print("The top 10 similar users to him/her are")
for ind in df_sim.index:
  if(i==11):
    break;
  indexes.append(ind)
  i=i+1
df.loc[indexes]

The Person to who the recommendation is done is Margot Farrow
The top 10 similar users to him/her are

,Names,Wheat Freqeuncy,Wheat Quantity,Wheat Seller,Sugercane Freqeuncy,Sugercane Quantity,Sugercane Seller,Rubber Freqeuncy,Rubber Quantity,Rubber Seller,Maize Freqeuncy,Maize Quantity,Maize Seller,Barley Freqeuncy,Barley Quantity,Barley Seller,Distance
466,Margot Farrow,3,581,Peabody Workwear Ltd,0,0,NaN,3,273,Tilly Beverages Ltd,6,77,Tilly Beverages Ltd,3,378,Peabody Workwear Ltd,42
27,Ciara Silva,5,819,Riverside Circuitry Ltd,1,167,Peabody Workwear Ltd,6,571,Tilly Beverages Ltd,1,106,Peabody Workwear Ltd,1,366,Tilly Beverages Ltd,17
392,Matt Ebbs,2,902,Peabody Workwear Ltd,1,86,Tilly Beverages Ltd,6,237,Riverside Circuitry Ltd,6,212,Peabody Workwear Ltd,3,944,Tilly Beverages Ltd,264
127,Henry Warden,6,853,Riverside Circuitry Ltd,1,146,Tilly Beverages Ltd,5,702,Oakes Workshops Ltd,0,0,NaN,1,486,Oakes Workshops Ltd,269
274,Phoebe Reading,5,704,Oakes Workshops Ltd,0,0,NaN,6,512,Riverside Circuitry Ltd,4,43,Peabody Workwear Ltd,6,929,Oakes Workshops Ltd,176
135,Luke Hastings,6,948,Peabody Workwear Ltd,3,140,Oakes Workshops Ltd,2,835,Tilly Beverages Ltd,2,136,Oakes Workshops Ltd,5,440,Riverside Circuitry Ltd,183
176,Marilyn Cassidy,4,932,Peabody Workwear Ltd,5,218,Peabody Workwear Ltd,5,275,Peabody Workwear Ltd,0,0,NaN,1,324,Oakes Workshops Ltd,119
62,Marvin Bloom,4,801,Tilly Beverages Ltd,4,1,Tilly Beverages Ltd,5,150,Peabody Workwear Ltd,0,0,NaN,4,566,Riverside Circuitry Ltd,343
116,Wade Janes,5,962,Tilly Beverages Ltd,0,0,NaN,0,0,NaN,0,0,NaN,2,554,Tilly Beverages Ltd,125
221,Leroy Flett,2,606,Peabody Workwear Ltd,0,0,NaN,5,687,Tilly Beverages Ltd,0,0,NaN,5,972,Peabody Workwear Ltd,16
460,Peter Rivers,4,520,Peabody Workwear Ltd,1,188,Peabody Workwear Ltd,3,520,Oakes Workshops Ltd,4,318,Peabody Workwear Ltd,2,433,Peabody Workwear Ltd,179

In [6]:
df[df_sim["Wheat Seller"]==1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Names,Wheat Freqeuncy,Wheat Quantity,Wheat Seller,Sugercane Freqeuncy,Sugercane Quantity,Sugercane Seller,Rubber Freqeuncy,Rubber Quantity,Rubber Seller,Maize Freqeuncy,Maize Quantity,Maize Seller,Barley Freqeuncy,Barley Quantity,Barley Seller,Distance
6,Phillip Matthews,2,168,Peabody Workwear Ltd,4,16,Peabody Workwear Ltd,4,274,Tilly Beverages Ltd,1,195,Riverside Circuitry Ltd,1,341,Oakes Workshops Ltd,275
8,Barry Scott,5,143,Peabody Workwear Ltd,5,643,Tilly Beverages Ltd,4,798,Peabody Workwear Ltd,1,756,Oakes Workshops Ltd,6,882,Peabody Workwear Ltd,376
9,Tyler Benfield,2,979,Peabody Workwear Ltd,5,322,Riverside Circuitry Ltd,4,895,Tilly Beverages Ltd,4,605,NaN,4,978,Riverside Circuitry Ltd,518
28,Ivy Groves,4,653,Peabody Workwear Ltd,0,0,NaN,2,61,Oakes Workshops Ltd,6,19,Peabody Workwear Ltd,2,141,Riverside Circuitry Ltd,193
36,Greta Ripley,6,273,Peabody Workwear Ltd,6,19,Tilly Beverages Ltd,2,188,Riverside Circuitry Ltd,4,829,Peabody Workwear Ltd,0,0,NaN,754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,Russel Yarlett,3,969,Peabody Workwear Ltd,1,223,Tilly Beverages Ltd,0,0,NaN,4,124,Peabody Workwear Ltd,5,477,Tilly Beverages Ltd,353
475,Daniel Wright,4,391,Peabody Workwear Ltd,1,943,Peabody Workwear Ltd,2,882,Tilly Beverages Ltd,3,37,Riverside Circuitry Ltd,1,604,Oakes Workshops Ltd,389
476,Matthew Giles,1,225,Peabody Workwear Ltd,5,443,Oakes Workshops Ltd,5,800,Riverside Circuitry Ltd,3,643,Peabody Workwear Ltd,0,0,NaN,861
480,Jayden Baker,1,42,Peabody Workwear Ltd,5,636,Peabody Workwear Ltd,1,585,Tilly Beverages Ltd,1,714,Tilly Beverages Ltd,3,635,Oakes Workshops Ltd,664
481,Gina Shields,2,393,Peabody Workwear Ltd,0,0,NaN,2,89,Riverside Circuitry Ltd,3,777,Riverside Circuitry Ltd,6,339,Riverside Circuitry Ltd,838