In [ ]:
import pandas as pd
import numpy as np

In [ ]:
%%bash
git clone https://github.com/kptriescoding/farmer-app-datasets

fatal: destination path 'farmer-app-datasets' already exists and is not an empty directory.

In [ ]:
df_name=pd.read_csv("/content/farmer-app-datasets/Recommendation System/ExportCSV.csv")
df_name

    FirstName LastName
0        Hayden Ripley
1           Lucy Lakey
2          Daphne Long
3         Percy Torres
4    Vanessa Alldridge
..                 ...
495       Taylor Vince
496     Bryce Clarkson
497        Gina Watson
498     Martin Poulton
499      Johnny Palmer

[500 rows x 1 columns]

#Current Features

1. Person Name: Should be Replaced with cust id in case of clash in name
2.  Crop_Type-> Has the various quantity of crops that a person has bought

###This model(don't know what's it is called) compares different users and gives the similarity b/w users hence recommends the said users some crops

In [ ]:
d_wheat=np.random.randint(1,10000,400)
d_paddy=np.random.randint(1,10000,400)
d_rubber=np.random.randint(1,10000,400)
d_maize=np.random.randint(1,10000,400)
d_na=np.full(shape=100,fill_value="NA")

In [ ]:
d_wheat=np.concatenate([d_wheat,d_na],axis=None)
d_paddy=np.concatenate([d_paddy,d_na],axis=None)
d_rubber=np.concatenate([d_rubber,d_na],axis=None)
d_maize=np.concatenate([d_maize,d_na],axis=None)

In [ ]:
np.random.shuffle(d_wheat)
np.random.shuffle(d_paddy)
np.random.shuffle(d_rubber)
np.random.shuffle(d_maize)

In [ ]:
df_wheat=pd.DataFrame(d_wheat,columns=["Wheat_A"]);
df_paddy=pd.DataFrame(d_paddy,columns=["Wheat_B"]);
df_rubber=pd.DataFrame(d_rubber,columns=["Wheat_C"]);
df_maize=pd.DataFrame(d_maize,columns=["Wheat_D"]);
df=pd.concat([df_name,df_wheat,df_paddy,df_rubber,df_maize],axis=1);
print(df)

    FirstName LastName Wheat Paddy Rubber Maize
0        Hayden Ripley  2080  1378   2745  9939
1           Lucy Lakey  2256  4520   6410    NA
2          Daphne Long    NA  2668   7667    NA
3         Percy Torres    NA  3774   3661    NA
4    Vanessa Alldridge  5062  5635   4370  3971
..                 ...   ...   ...    ...   ...
495       Taylor Vince    NA    NA   6288  6345
496     Bryce Clarkson  5396   805     NA  1184
497        Gina Watson  1917    NA     NA  5617
498     Martin Poulton  3104  4474   5076  4935
499      Johnny Palmer  4078  5568     NA  9215

[500 rows x 5 columns]

In [ ]:
df.to_csv('customer_data.csv', index=False)